{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}

    <h1>Liste des entreprises</h1>

    <a href="{{ path('add_entreprise') }}"> Ajouter une entreprise</a> <br>

    {# Les doubles accolades => {{ }} c'est le echo d'un fichier twig #}
    {% for entreprise in entreprises %}
   
        <a href="{{ path('show_entreprise', {'idEntreprise': entreprise.id}) }}"> {{ entreprise }} </a> 
        <a href="{{ path('edit_entreprise', {'idEntreprise': entreprise.id}) }}" class="btn btn-warning"> Editer </a>
        <a href="{{ path('delete_entreprise', {'idEntreprise': entreprise.id}) }}" class="btn btn-danger"> Delete </a> <br> <br>

    {% endfor %}

{% endblock %}
